{% extends "base.html" %}

{% block title %}
  Home
{% endblock %}

{% block content %}
<div class="container-fluid">
  <br><br><br>
  <h1>Home</h1>
  <hr>
  <div class="row">

    <div class="col-2">

    </div>

    <div class="col-8">
      {% for i in range(5) %}
      <div class="card-deck">
        {% if i * 3 + 3 < c %}
        {% for j in range(3) %}

        <!-- <div class="col-4"> -->
          <div class="card border-dark text-center mb-3">
            <div class="card-header border-dark">
              <h4>{{l[i * 3 + j]['name']}}</h4>
            </div>
            <img src="{% if 'photoUrl' in l[i * 3 + j] %} {{l[i * 3 + j]['photoUrl']}} {% else %} http://www.utas.edu.au/__data/assets/image/0015/141711/varieties/profile_image.png {% endif %}" class="card-img-top" alt="pic">

            <ul class="list-group list-group-flush">
              <li class="list-group-item">Party: {{l[i * 3 + j]['party']}}</li>
              <li class="list-group-item">Phone: {{l[i * 3 + j]['phones'][0]}}</li>
              <!-- <li class="list-group-item">Vestibulum at eros</li> -->
            </ul>
            <div class="card-body bg-secondary">
              <a class="btn btn-light" data-toggle="collapse" href="#collapseExample{{i * 3 + j}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                Related News
              </a>

              <div class="collapse" id="collapseExample{{i * 3 + j}}">
                <br>
                {% for n in nl[i + 3 + j] %}
                <div class="alert alert-primary">
                  {{n['web_url']}}
                </div>
                {% endfor %}
              </div>
            </div>

            {% if 'urls' in l[i * 3 + j] %}
            <div class="card-footer">
              <a href="{{l[i * 3 + j]['urls'][0]}}" class="btn btn-dark ">Learn More</a>
            </div>
            {% endif %}
          </div>
        <!-- </div> -->

        {% endfor %}
        {% endif %}
      </div>
      <br>
      {% endfor %}
    </div>

  </div>
</div>
{% endblock %}
