{% extends "base.html" %}

{% block title %}
{{ name.title() }}
{% endblock %}

{% block content %}
<h2>{{ name.title() }}</h2>

<div class="container my-5">

  {% set msgs = get_flashed_messages( with_categories=true ) %}
  {% for category, msg in msgs %}
  <div class="alert alert-{{ category }}" role="alert">
    {{ msg }}
  </div>
  {% endfor %}


  <h2> 10 most recent articles about <i>{{ name.title() }}</i> </h2>

  {% if bio != "" %}
  <div class="card mb-4" style="background-color: #E8E8E8">
    <div class="card-body">
      <h6> {{ bio }} <a href="{{ url }}"> (Wikipedia) </a></h6>
      {% if 'id' in s %}
        {% if name in f %}
        <form action="/politicianpage/{{name}}" method="GET">
          <button type="submit" class="flw btn btn-success" name="unfollow" value="{{name}}">Followed</button>
        </form>
        {% else %}
        <form action="/politicianpage/{{name}}" method="GET">
          <button type="submit" class="flw btn btn-primary" name="follow" value="{{name}}">Follow</button>
        </form>
        {% endif %}
      {% else %}
      <form action="/login" method="GET">
        <button class="flw btn btn-primary" name="msg">Follow</button>
      </form>
      {% endif %}
    </div>
  </div>
  {% endif %}

  <div class="list-group">

    {% for article in articles_nyt %}
    <a href="{{ article['web_url'] }}" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"> {{ article['headline'] }}</h5>
      </div>
      <p class="mb-1">{{ article['snippet'] }}</p>
    </a>
    {% endfor %}

    {% for article in articles_news %}
    <a href="{{ article['url'] }}" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ article['title'] }}</h5>
        <small>{{ article['publishedAt'] }}</small>
      </div>
      <p class="mb-1">{{ article['content'] }}</p>
      <small>{{ article['source']['name'] }}</small>
    </a>

    {% endfor %}

  </div>

</div>

{% endblock %}
