{% extends "base.html" %}

{% block title %}
  Register
{% endblock %}

{% block content %}
<br><br><br>

<div class="container">

  {% set msgs = get_flashed_messages( with_categories=true ) %}
  {% for category, msg in msgs %}
  <div class="alert alert-{{ category }}" role="alert">
    {{ msg }}
  </div>
  {% endfor %}

  <div class="card border-dark bg-light mb-3">
    <div class="card-header">
      <h1> Register </h1>
    </div>
    <div class="card-body">
      <form action="/auth" method="POST">
        <div class="form-group">
          <label>Username</label>
          <input type="text" class="form-control" name="username" placeholder="Enter Username">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" placeholder="Password" name="password">
        </div>
        <div class="form-group">
          <label>Confirm Password</label>
          <input type="password" class="form-control" placeholder="Confirm Password" name="confirm_password">
        </div>
        <p class="register">Already have an account? <a href="/login" class="btn btn-secondary btn-sm">Login here!</a></p>
        <input class="btn btn-dark" type="submit" id="submit" name="submit" value="Register">
      </form>
    </div>
  </div>
</div>
{% endblock %}
