{% extends "base.html" %}

{% block title %}
  Register
{% endblock %}

{% block content %}
<h1>Register</h1>
<br>
{% set msgs = get_flashed_messages(with_categories=true) %}
{% for category, each in msgs %}
  <p class="{{category}}">{{each}}<p>
{% endfor %}
<div class="container">
  <h1> Register </h1>
  <div class="card">
    <div class="card-body">
      <form action="/auth" method="POST">
        <div class="form-group">
          <label>Username</label>
          <input type="text" class="form-control" name="username" placeholder="Enter Username">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" placeholder="Password" name="password">
        </div>
        <div class="form-group">
          <label>Confirm Password</label>
          <input type="password" class="form-control" placeholder="Confirm Password" name="confirm_password">
        </div>
        <p class="register">Already have an account? <a href="/login">Login here!</a></p>
        <input class="btn btn-primary" type="submit" id="submit" name="submit" value="Register">
      </form>
    </div>
  </div>
</div>
{% endblock %}
